# Include .NET Tools configuration file
!.config/dotnet-tools.json

# Include Visual Studio Code configuration files
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json

# Ignore build output directories
bin/
obj/

# Ignore packages directory
packages/

# Ignore user-specific files
*.user
*.userosscache
*.suo

# Ignore temporary files
*.tmp
*.temp
*.log

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore compiled files
*.dll
*.exe
*.pdb

# Ignore coverage reports
coverage/
*.coverage
*.coveragexml

# Ignore other common files
*.DS_Store
*.lock
*.cache
*.config
*.bak

# Ignore Ionide files
.fake
